/* HEADER */

body {
	font-family: 'Roboto', sans-serif;
}

header {
	background-color: #255EE9;
}

.header-head {
	display: flex;
	align-items: center;
	min-height: 80px;
}

.header-nav {
	display: flex;
	flex-grow: 1;
	line-height: 30px;
	align-items: center;
	padding: 20px 10px;
}

.header-nav>* {
	flex-basis: 20%;
	padding: 5px 20px;
}

#logo {
	max-height: 50px;
}

.header-links {
	flex-grow: 1;
	text-align: center;
	padding: 0 50px;
}

.header-links ul {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	margin: 0 100px;
}

.header-links ul li {
	padding: 10px;
}

.header-links ul li a {
	text-decoration: none;
	color: white;
	font-size: 1.2rem;
}

.header-login {
	text-align: right;
	max-width: fit-content;
	border-radius: 20px;
	font-size: 1rem;
	font-weight: bold;
	color: black;
	background-color: white;
}

/* JUMBOTRON */

.jumbotron {
	padding: 80px 0;
	display: flex;
	justify-content: center;
	background-image: url('../img/jumbo.png');
	background-size: cover;
}

.jumbotron .content {
	min-height: 400px;
	width: 50%;
	margin-top: 50px;
}

.jumbotron .content>h1 {
	font-size: 4rem;
	font-weight: bolder;
	color: white;
	text-align: center;
	padding-bottom: 20px;
}

.jumbotron .content>p {
	font-size: 1.5rem;
	color: white;
	text-align: center;
	padding: 30px;
	line-height: 40px;
}

.button {
	padding: 20px;
	line-height: 30px;
	max-width: fit-content;
	margin: 0 25px;
	border-radius: 30px;
	font-size: 1.5rem;
	font-weight: 600;
}

.action .white {
	background-color: white;
	color: black;
}

.action .black {
	background-color: black;
	color: white;
}

.purple {
	background-color: #8EA1E1;
	color: white;
	padding: 20px 40px;
}

.action {

	display: flex;
	justify-content: center;
}

/* MAIN & SECTIONS */

h2 {
	font-size: 3.5rem;
	font-weight: bolder;
}

h3 {

	font-size: 2rem;
	font-weight: bolder;
	margin-bottom: 40px;
	background-image: url(../img/stars.svg);
	background-size: contain;
	line-height: 50px;
	width: 50%;
}

h4 {
	font-size: 2.5rem;
	font-weight: bolder;
	color: #8EA1E1;
	margin: 20px 0;

}

h5 {
	font-size: 1.3rem;
	font-weight: bolder;
	color: #8EA1E1;
	margin: 20px 0;

}

.waves {
	display: block;
}

main>section>.container {
	display: flex;
	padding: 100px 0;
}

.bg-white {
	background-color: white;
}

.bg-gray {
	background-color: #F6F6F6;
}

.main-col {
	flex-grow: 2;
}

.main-col>img {
	height: 100%;
}


.side-col {
	flex-grow: 1;
	max-width: calc(100% / 3);
	margin-top: 50px;
	padding: 0 40px 40px 40px;
}

.side-col p,
.hilighted-content p {
	font-size: 1.5rem;
	margin-top: 40px;
	line-height: 30px;
}

.hilighted-content {
	flex-grow: 1;
	text-align: center;
	padding-top: 100px;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 100px;
}

.hilighted-content>img {
	width: 100%;

}

/* FOOTER */

.footer-main {
	padding-top: 10px;
	background-color: #23272a;
}

.footer-upper {
	display: flex;
	padding-bottom: 50px;
	margin: 80px 0 50px 0;
	border-bottom: 1px solid #8EA1E1;

}

.footer-main-col {
	width: calc(100% / 3);
	padding: 0 50px;

}

.footer-main-col>img {
	max-height: 20px;
}

.lang {
	font-size: 1rem;
	color: white;
}

.footer-side-col {
	display: flex;
	width: calc(100% / 3 * 2);
}

.footer-col {
	width: 25%;
}

.footer-col ul li a {
	text-decoration: none;
	color: white;
	font-size: 1.3rem;
	line-height: 40px;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 80px;
}

.footer-bottom>* {
	padding: 5px 10px;
	margin-bottom: 80px;
}

.footer-bottom .button {
	font-size: 1rem;
	padding: 5px 15px;
}

.fa-brands {
	font-size: 25px;
	color: white;
	margin: 30px 30px 0 0;
}